@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}
.title {
  font-family: 'Roboto Condensed', sans-serif;
}
@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-lg shadow-sm focus:border-blue-500 focus:ring-blue-500;
  }
  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-300 rounded text-blue-600 focus:ring-blue-500;
  }
}

.bg-site-blue {
    background-color: #86aec0;
    color: #000000;
}

.bg-site-orange {
    background-color: #f6ac9f;
}

.color-site-blue {
   color: #86aec0;
}

.color-site-orange {
    color: #f2785c;
}

.home-page-article {
  min-height: 400px;
}